<app-default-login-layout
    title="Login into your account"
    primaryBtnText="Login Now"
    secondaryBtnText="Signup Now"
    (submit)="submit()"
    (navigate)="navigate()"
    [disablePrimaryBtn]="!loginForm.valid"
>
    <form [formGroup]="loginForm" (keydown.enter)="submit()">
    <app-primary-input
      type="email"
      label="E-mail"
      formName="email"
      placeholder="Type your e-mail"
      icon="assets/png/email.png"
      formControlName="email"
    ></app-primary-input>

    <app-primary-input
      type="password"
      label="Password"
      formName="password"
      placeholder="Type your password"
      icon="assets/png/password-icon.png"
      formControlName="password"
    ></app-primary-input>
    <span><a href="forgot" (click)="navigate()">Forgot Password</a></span>
</form>
</app-default-login-layout>