<app-default-login-layout
    title="Login into your account"
    primaryBtnText="Login Now"
    secondaryBtnText="Signup Now"
    (submit)="submit()"
>
    <form [formGroup]="loginForm">
    <app-primary-input
      type="email"
      label="E-mail"
      formName="email"
      placeholder="Type your e-mail"
      icon="assets/png/email.png"
      formControlName="email"
    ></app-primary-input>

    <app-primary-input
      type="password"
      label="Password"
      formName="password"
      placeholder="Type your password"
      icon="assets/png/password-icon.png"
      formControlName="password"
    ></app-primary-input>
    <span>Forgot Password</span>
</form>
</app-default-login-layout>